<div class="bg-slate-400">
  <div class="flex flex-row flex-wrap text-black-800">
    <% params[:ingredient_ids].to_a.each do |ingredient_id| %>
      <% ingredient_ids = params[:ingredient_ids].to_a.dup.difference([ingredient_id]) %>

      <div class="text-xs border rounded-md mx-2 pl-2 py-1 bg-lime-300 mt-2">
        <%= Ingredient.find(ingredient_id).name %>
        <%= link_to "x", recipes_path(ingredient_ids: ingredient_ids), class: 'border rounded-md px-1 py-1 bg-red-200' %>
      </div>
      <span class="content-center mt-2"><%= "or" if ingredient_id != params[:ingredient_ids].to_a.last %></span>
    <% end %>
  </div>

  <div x-data="{ maybeSearchIsOpen: false }" class="mx-4 my-2">
    <button x-cloak x-show="!maybeSearchIsOpen" @click="maybeSearchIsOpen = true" type="button" class="items-center justify-center border rounded-md p-0.5 my-2 text-gray-900">
      <span>Add optional ingredient</span>
    </button>

    <!-- Maybe search -->
    <div x-cloak x-show="maybeSearchIsOpen" x-transition id="maybe-search">
      <div class="flex flex-row space-x-2">
        <span class="p-0.5">Add an optional ingredient:</span>

        <div data-controller="search">
          <%= form_with url: search_ingredients_path(ingredient_ids: params[:ingredient_ids]), method: :post, data: { search_target: "form" }, class: "" do |form| %>
            <div>
              <%= form.text_field :search, data: { action: "search#search" }, autocomplete: "off", class: 'text-base p-0.5' %>
            </div>
          <% end %>
        </div>

        <button @click="maybeSearchIsOpen = false" type="button" class="items-center border rounded-md px-2 p-0.5 text-gray-900">
          <span x-cloak x-show="maybeSearchIsOpen" class="text-base">X</span>
        </button>
      </div>

      <div data-search-target="results" class="mt-2">
        <%= render partial: "ingredients/search_result", locals: { ingredients: ingredients } %>
      </div>
    </div>
  </div>
</div>
